<%= form_for :player, url: players_path do |f| %>
    <p>
        <%= f.label :title %><br>
    </p>

    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', players_path %>
